* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Tajawal', sans-serif;
}

body {
  background-image: linear-gradient(
    180deg,
    #7a6b8b 0%,
    #9c89c5 50.52%,
    #a49bcf 78%
  );
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

header {
  padding: 30px;
}

section h2 {
  color: #200340;
  font-weight: bold;
  font-size: 20px;
}

ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 8px;
  gap: 26px;
  justify-content: center;
}

section ul li {
  transition: transform 0.3s;
}

section ul li:hover {
  transform: scale(1.2);
}
